# See http://help.github.com/ignore-files/ for more about ignoring files.

######## UI
# dependencies
ui/node_modules

# testing
ui/coverage

# production
ui/build

# misc
ui/.DS_Store
ui/.env
ui/npm-debug.log

ui/node_modules

############## API
# testing
api/coverage

# production
api/build

# misc
api/.DS_Store
api/.env
api/npm-debug.log
api/node_modules
